.specificSportsMatchesList {
    width: 25%;
    margin-top: 50px;
    text-align: center;
    overflow: hidden;
    overflow-y:scroll;
    max-height: 600px;
}

#oddsContent {
    display: flex;
}

.h2hOddsData {
    margin-top: 40px;
    margin-left: 100px;
    text-align: center;
}

#h2hTitle {
    text-decoration: underline;
    padding: 15px;
    color: red;
   
}

.totalsOddsData {
    /* margin-left: 90px; */
    margin-top: 38px ;
    
}

#totalsOddsTitle {
    text-decoration: underline;
    padding: 15px;
    color: red;
    margin-left: 10px;
}

#layupImg {
    position: absolute;
    right: 0px;
    height: 700px;
    width: 300px;
} 


