
.placedBetsList {
    position: absolute;
    top: 71%;
    right: 1%;
    width: 500px;
    max-height: 340px;
    overflow: hidden;
    overflow-y:scroll;
}

#resultedBetsHeader {
    position: absolute;
    top: 61%;
    right: 7%;
   

}











