
.placedBetsList {
    position: absolute;
    top: 74%;
    right: 1%;
    width: 500px;
    max-height: 455px;
    overflow: hidden;
    overflow-y:scroll;
}

#resultedBetsHeader {
    position: absolute;
    top: 65%;
    right: 7%;
    padding: 5px;
    color: red;
}

.betPlacedItem {
    color: black;
}

#deleteBetBtn {
    float: right;
    margin-top: -30px;
}

#betOutcome {
    float:right;
    margin-top: -30px;

}

#totalWinningsDiv {
    float: right;
    display: inline-block;
    margin-right: 19%;
    margin-top: -42px;
    margin-bottom: 50px;
    font-size: 20px;
}









