
.placedBetsList {
    position: absolute;
    top: 66%;
    right: 1%;
    width: 500px;
    max-height: 340px;
    overflow: hidden;
    overflow-y:scroll;
}

#resultdBetsHeader {
    position: absolute;
    top: 55%;
    right: 7%;
   

}








