#bicContent {
    text-align: center;
    margin-top: 20px;
    /* background-image: url("../../images/bhLogoGrey.png"); */
}

#bicTitle {
    margin-bottom: 30px;
    display: inline-block;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

#bicH1 {
    font-size: 50px;
    color: red;
}

#bicH4 {
    font-size: 30px;
}