#totalsOdds {
    text-align: center;
}

#listOfTotalsOdds {
    
        margin-top: 25px;
        margin-left: 30px;
        padding-top: -20px; 
}

h5 {
    color: white;
}

#bookieNameTotals {
    color: red;
}