#noteInputForm {
    margin-left: 30px;
    width: 35%;
    min-height: 100px;


}

#noteInputTitle {
    margin-left: 30px;
    display: inline-block;
    color: red;
    margin-top: 25px;
}


.cardNote {
    position: relative;
    height: 200px;
    width: 350px;
    background-color: lightblue;
    border: 2px solid blue;
}

#noteText {
    color: black;
}

#noteCard {
    width: 400px;
    display: inline-block;
    left: 39%;
    
}

#noteCardBody {
    width: 400px;

}

.card-title {
    color: black;
}

