#noteInputForm {
    margin-left: 30px;
    width: 35%;
    min-height: 100px;


}

#noteInputTitle {
    margin-left: 30px;
    display: inline-block;
    color: red;
    margin-top: 25px;
}


.cardNote {
    position: relative;
    height: 200px;
    width: 350px;
    background-color: lightblue;
    border: 2px solid blue;
}

#noteText {
    color: black;
}

#noteCard {
    /* display: inline-block; */
    left: 19%;
    max-width: 450px;
    bottom: 420px;
    margin-bottom: -45px;   
    border: 2px solid red; 
}




.card-title {
    color: black;
}

#notesDisplay {
    display: inline-flex;
}

