.cardUpcomingMatches {
    width: 25%;
    margin-top: 50px;
    text-align: center;
    border: 2px solid grey;
    margin-bottom: 70px;
    margin-left: 10px;
}


.upcoming-matches-card-body {
    border: 1px solid blue;
    background-color: black;
    color: white;
    height: 100px;
    padding-top: 20px;
}


 