#allSportsDiv {
    position: absolute;
    width: 70%;
    top: 400px;
    left: 380px;
}

#sportsTitles {
    text-align: center;
    margin-bottom: 20px;
}

#sportClickIcon {
    width: 215px;
    height: 80px;
    text-align: center;
    margin: 14px;
    margin-top: 18px;
    padding-top: 18px;
    padding-bottom: -18px;
    color: blue;
    font-size: 13px;
}

